@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
    --font-title: "Montserrat", "sans-serif";
    --font-body: "Open Sans", "open-sans", "sans-serif";

    @keyframes pulse {
        50% {
            opacity: 0.8;
        }
    }
}

@layer components {
    .underline-effect {
        @apply relative after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-[#0A2463] after:transition-all after:duration-300 hover:after:w-full hover:after:left-0;
    }
}
